<% provide(:title, "Inquiry") %>

<!-- Container Start !-->
<div class="container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "inquiry-icon.png", :id => "inquiry-title-logo" %>
        <h1 class="title-header" id="inquiry-title-header">Inquiry.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
    <!-- Content Container Start !-->
    <div class="content-container">
        
    </div>
    <!-- Content Container End !-->
    
</div>
<!-- Container End !-->