<% provide(:title, "Portfolio") %>

<!-- Container Start !-->
<div class="container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "portfolio-icon.png", :id => "portfolio-title-logo" %>
        <h1 class="title-header" id="portfolio-title-header">Portfolio.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
    <!-- Content Container Start !-->
    <div class="content-container">
        <!-- Collection Start !-->
        <div class="collection">
            
            <div class="collection-cell" id="just-bucket-collection-cell">
                <div class="collection-cell-header">
                    
                </div>
                <div class="collection-cell-body">
                    <%= image_tag "just-bucket.png"%>
                </div>
                <div class="collection-cell-footer">
                </div>
            </div>
            
        </div>
        <!-- Collection End !-->
    </div>
    <!-- Content Container End !-->
    
</div>
<!-- Container End !-->