<% provide(:title, "Reviews") %>

<!-- Container Start !-->
<div class="container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "reviews-icon.png", :id => "reviews-title-logo" %>
        <h1 class="title-header" id="reviews-title-header">Reviews.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
    <!-- Content Container Start !-->
    <div class="content-container">
        
    </div>
    <!-- Content Container End !-->
    
</div>
<!-- Container End !-->