<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "shop-icon.png", :id => "shop-title-logo" %>
        <h1 class="title-header" id="shop-title-header">Shop.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
</div>
<!-- Content Container End !-->