<!-- Content Container Start -->
<div class="content-container">
    
    <!-- Title Container Start -->
    <div class="title-content-container">
        <%= image_tag "clients-icon.png", :class => "title-logo", :id => "clients-title-logo" %>
        <h1 class="title-header" id="clients-title-header">Clients.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End -->
    
</div>
<!-- Content Container End -->