<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Logo Start !-->
    <div class="logo-container">
        <%= image_tag "logo.gif", :class => "logo-image" %>
    </div>
    <!-- Logo End !-->
    
</div>
<!-- Content Container End !-->
