<!-- Content Container Start -->
<div class="content-container">
    
    <!-- Title Container Start -->
    <div class="title-content-container">
        <%= image_tag "portfolio-icon.png", :class => "title-logo", :id => "portfolio-title-logo" %>
        <h1 class="title-header" id="portfolio-title-header">Portfolio.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End -->
    
    <!-- Collection Start -->
    <div class="collection">
        <div class="collection-cell" id="just-bucket-collection-cell">
            <div class="collection-cell-header">
                <h3 class="collection-cell-header-title">
                    Just Bucket
                </h3>
            </div>
            <div class="collection-cell-body">
                <p class="collection-cell-body-paragraph" id="just-bucket-collection-cell-body-paragraph">
                    An app designed specifically to help the user complete the things they want to do in their everyday life.
                </p>
                <%= image_tag "just-bucket.png", :id => "just-bucket-image" %>
            </div>
            <div class="collection-cell-footer">
            </div>
        </div>
    </div>
    <!-- Collection End -->
    
</div>
<!-- Content Container End -->