<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "account-icon.png", :class => "title-logo", :id => "account-title-logo" %>
        <h1 class="title-header" id="account-title-header">Account.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
</div>
<!-- Content Container End !-->