<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "inquiry-icon.png", :id => "inquiry-title-logo" %>
        <h1 class="title-header" id="inquiry-title-header">Inquiry.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
    <!-- Collection Start !-->
    <div class="collection">
        <div class="collection-cell" id="inquiry-collection-cell">
            <div class="collection-cell-header">
            </div>
            <div class="collection-cell-body">
            </div>
            <div class="collection-cell-footer">
            </div>
        </div>
    </div>
    <!-- Collection End !-->
    
</div>
<!-- Content Container End !-->