<!-- Content Container Start -->
<div class="content-container">
    
    <!-- Title Container Start -->
    <div class="title-content-container">
        <h1 class="title-header" id="contact-title-header">Contact.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End -->
    
</div>
<!-- Content Container End -->