/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/********* Variables Start *********/

$borderRadius: 3px;
$navbarHeight: 66px;
$footerHeight: $navbarHeight;

/********* Variables End *********/


/********* Mixins Start *********/

@mixin display($display)
{
    display: $display;
    -webkit-display: $display;
    -moz-display: $display;
    -ms-display: $display;
}

@mixin transition($property, $time, $type)
{
    transition: $property $time $type;
    -webkit-transition: $property $time $type;
    -moz-transition: $property $time $type;
    -ms-transition: $property $time $type;
}

@mixin align-items($align)
{
    align-items: $align;
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
}

@mixin flex-direction($direction)
{
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
}

@mixin justify-content($justify)
{
    justify-content: $justify;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
}

@mixin border-radius($radius)
{
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin animation($keyframes, $duration, $steps)
{
    animation: $keyframes $duration $steps;
    -webkit-animation: $keyframes $duration $steps;
    -moz-animation: $keyframes $duration $steps;
    -ms-animation: $keyframes $duration $steps;
    animation: $keyframes $duration $steps;
}

/********* Mixins End *********/


/********* Main Start *********/

.layout
{
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    
    body
    {
        @extend .layout;
        
        width: 100%;
        height: 100%;
        
        form {
            display: inline-block;
        }
    }
}

/********* Main End *********/


/********* Container Start *********/

.container
{
    @extend .layout;
    
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    .content-container
    {
        @extend .layout;
        
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    }
}

.overlay
{
    @extend .layout;
    
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

/********* Container End *********/


/********* Alerts Start *********/

.alert
{
    @extend .layout;
    
    width: 600px;
    height: auto;
    color: white;
    float: right;
    right: -600px;
    position: absolute;
    top: ($navbarHeight + 20px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    ul li {
        margin: 0;
        padding: 5px;
    }
      
    .alert-header
    {
        margin: 0;
        height: auto;
        padding: 0 10px 10px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
        .alert-header-title
        {
            margin: 0;
            font-size: 18px;
            padding: 10px 0 0 5px;
            display: inline-block;
        }
        
        .alert-button-close
        {
            margin: 0;
            border: none;
            color: white;
            float: right;
            font-size: 25px;
            cursor: pointer;
            background: none;
            padding: 5px 0 0 5px;
        }
        
        .alert-button-close:hover {
            color: rgb(200, 200, 200);
        }
    }
    
    .alert-content {
        font-size: 13px;
    }
    
    .alert-footer
    {
        padding: 0 10px 10px 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    @include border-radius($borderRadius);
}

.alert-success
{
    @extend .alert;
    
    background-color: rgba(1, 170, 29, 0.9);
}

.alert-error
{
    @extend .alert;
    
    background-color: rgba(253, 65, 54, 0.9);
}

.alert-warning
{
    @extend .alert;
    
    background-color: rgba(255, 185, 0, 0.9);
}
    
/********* Alerts End *********/


/********* Login Popover Start *********/

.modal
{
    @extend .layout;
    
    overflow: hidden;
    position: absolute;
    background-color: white;
    
    .modal-header {
        padding: 10px;
    }
    
    .modal-content {
        padding: 10px;
    }
    
    .modal-footer {
        padding: 10px;
    }
    
    @include border-radius($borderRadius);
}

#signup-modal
{
    width: 300px;
    height: 300px;
    top: $navbarHeight;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#forgot-password-modal
{
    width: 300px;
    height: 300px;
    top: $navbarHeight;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#authentication-popover
{
    top: -220px;
    height: 220px;
    left: calc(100% - 220px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    .modal-content
    {
        .email-input-text
        {
            padding: 8px;
            border: none;
            display: block;
            font-size: 12px;
            margin: 0 0 10px 0;
            width: calc(100% - 20px);
            font-family: 'Open Sans', sans-serif;
            border: 1px solid rgb(230, 230, 230);
    
            @include border-radius($borderRadius)
        }

        .password-input
        {
            margin: 0;
            padding: 8px;
            display: block;
            font-size: 12px;
            width: calc(100% - 20px);
            font-family: 'Open Sans', sans-serif;
            border: 1px solid rgb(230, 230, 230);
    
            @include border-radius($borderRadius)
        }
    }

    .modal-footer
    {
        text-align: center;
        
        .login-button
        {
            width: 100%;
            border: none;
            color: white;
            margin: 0 auto;
            display: block;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            padding: 9px 18px 9px 18px;
            background: rgb(0, 194, 201);
    
            @include border-radius($borderRadius)
        }

        .login-button:hover
        {
            cursor: pointer;
            background: rgb(0, 184, 191);
            box-shadow: inset 0 0 10px 0 rgba(30, 30, 30, 0.2);
        }
    
        .login-button:active
        {
            cursor: pointer;
            background: rgb(0, 164, 171);
        }
        
        .authentication-accessory-button
        {
            margin: 0 10px;
            padding: 0;
            border: none;
            font-size: 11px;
            background: none;
            color: rgb(0, 194, 201);
        }
        
        .authentication-accessory-button:hover
        {
            cursor: pointer;
            color: rgb(0, 164, 171);
        }
    }
}

/********* Login Popover End *********/


/********* Navbar Start *********/

.navbar
{
    @extend .layout;
    
    top: 0;
    width: 100%;
    position: absolute;
    height: $navbarHeight;
    border-bottom: 1px solid rgba(222, 222, 222, 0.9);
    background-color: rgba(252, 252, 252, 0.9);
    
    .navbar-list
    {
        @extend .layout;
    
        height: 100%;
        position: relative;
        list-style-type: none;
        
        @include display(flex);
        @include align-items(center);
        @include flex-direction(row-reverse);
        @include justify-content(space-between);
        
        .navbar-list-item
        {
            padding: 0 20px 0 0;
            display: inline-block;
            
            a
            {
                color: black;
                font-size: 15px;
                text-decoration: none;
            }
            
            a:hover {
                color: gray;
            }
            
            .navbar-list-item-accessory
            {
                @extend .layout;
    
                width: 40px;
                height: 40px;
            }
            
            .navbar-list-item-image {
                @extend .navbar-list-item-accessory;
            }
            
            .navbar-list-item-button
            {
                @extend .navbar-list-item-accessory;
                
                border: none;
                cursor: pointer;
                background: none;
                
                @include border-radius($borderRadius);
            }
            
            .navbar-list-item-button:hover
            {
                background-color: rgb(240, 240, 240);
                border: 1px solid rgb(210, 210, 210);
                box-shadow: inset 0 0 10px 0 rgba(220, 220, 220, 1);
            }
            
            .navbar-list-item-button:active
            {
                color: black;
                background-color: rgb(220, 220, 220);
                border: 1px solid rgb(210, 210, 210);
                box-shadow: inset 0 0 10px 0 rgba(220, 220, 220, 1);
                
                -webkit-transition: background-color 0.3s;
            }
        }
    }
}

/********* Navbar End *********/


/********* Navbar Menu Start *********/

.navbar-menu
{
    @extend .layout;
    
    left: 0;
    height: 100%;
    width: 200px;
    overflow: auto;
    position: fixed;
    background-color: rgba(225, 225, 225, 1);
    
    .navbar-menu-list
    {
        @extend .layout;
    
        list-style-type: none;
        
        .navbar-menu-item
        {
            margin: 0;
            height: 48px;
            cursor: pointer;
            display: inline-block;
            padding: 18px 0 0 20px;
            width: calc(100% - 20px);
            
            a
            {
                color: black;
                font-size: 15px;
                font-weight: 200;
                text-decoration: none;
            }

            a:hover {
                color: gray;
            }

            .navbar-menu-item-image
            {
                padding: 0;
                width: 30px;
                height: 30px;
                margin: 0 10px 0 0;
                vertical-align: middle;
            }
        }

        .navbar-menu-item:hover
        {
            background-color: rgba(235, 235, 235, 0.9);
            
            @include transition(background-color, 0.2s, linear)
        }
        
        .navbar-menu-item:active {
            background-color: rgba(215, 215, 215, 0.9);
        }
    }
}

/********* Navbar Menu End *********/


/********* Footer Start *********/

.footer
{
    @extend .layout;
    
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    list-style-type: none;
    height: $footerHeight;
    background-color: rgba(240, 240, 240, 0.9);
    
    .footer-item
    {
        top: 23px;
        font-size: 15px;
        font-weight: 200;
        position: relative;
        padding: 0 23px 0 0;
        display: inline-block;
        
        a
        {
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            color: gray;
        }
    }

    .footer-item:first-child
    {
        float: left;
        padding-left: 23px;
    }

    .footer-item:last-child
    {
        float: right;
        padding-right: 23px;
    }
}

/********* Footer End *********/


/********* Title Content Start *********/

.title-content-container
{
    margin: 0;
    padding: ($navbarHeight + 10px) 0 0 0;
    width: 100%;
    height: 35%;
    display: flex;
    position: relative;
    
    @include align-items(center);
    @include justify-content(center);
    
    .title-logo
    {
        margin: 0;
        padding: 20px;
        height: 100px;
    }
    
    .title-header
    {
        @extend .layout;
    
        color: black;
        font-size: 100px;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        
        @include animation(extend-width, 3s, steps(33, end));
    }

    .title-bar-span {
        @include animation(blink, 1.3s, infinite);
    }
}

/********* Title Content End *********/


/********* Collection Start *********/

.collection
{
    @extend .layout;
    
    width: 100%;
    padding: 20px 0 ($footerHeight + 20px) 0;
    
    .collection-cell
    {
        margin: 10px;
        padding: 10px;
        display: inline-block;
        
        .collection-cell-header
        {
            @extend .layout;
    
            width: 100%;
            
            .collection-cell-header-title
            {
                @extend .layout;
    
                width: 100%;
            }
        }

        .collection-cell-body
        {
            margin: 0;
            width: 100%;
            padding: 10px 0 20px 0;
            
            .collection-cell-body-paragraph {
                @extend .layout;
            }
        }

        .collection-cell-footer
        {
            @extend .layout;
    
            width: 100%;
        }

        .collection-cell-link
        {
            color: black;
            text-decoration: none;
        }

        .collection-cell-image-container
        {
            @extend .layout;
    
            width: 230px;
            height: 180px;
            display: flex;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0px 0px 2px gray;
            
            @include align-items(center);
            @include justify-content(center);
            
            .collection-cell-image {
                @extend .layout;
            }
        }
        
        @include border-radius($borderRadius);
    }
}

/********* Collection End *********/

#menu-navbar-list-item
{
    margin: 0;
    padding: 0 0 0 20px;
}

#menu-navbar-list-item-button {
    font-size: 20px;
}

#authentication-navbar-list-item-button
{
    top: 3px;
    position: relative;
    background: image-url("account-icon.png") no-repeat center center;
    background-size: 30px;
}
            
#home-navbar-menu-item
{
    height: 58px;
    margin: -5px 0 0 0;
}
            
#home-navbar-menu-list-item-link { }

#clients-navbar-menu-item-link {
    color: rgb(223, 35, 24);
}

#partners-navbar-menu-item-link {
    color: rgb(0, 117, 221);
}

#portfolio-navbar-menu-item-link {
    color: rgb(245, 104, 2);
}

#inquiry-navbar-menu-item-link {
    color: rgb(1, 170, 29);
}

#reviews-navbar-menu-item-link {
    color: rgb(135, 49, 207);
}

#shop-navbar-menu-item-link {
    color: rgb(238, 168, 0);
}

#account-navbar-menu-item-link {
    color: rgb(0, 194, 201);
}

#contact-footer-item-link:hover { }


/********* Keyframes Start *********/

@keyframes extend-width {
    from { width: 0; }
}

@-webkit-keyframes extend-width {
    from { width: 0; }
}

@-moz-keyframes extend-width {
    from { width: 0; }
}

@-ms-keyframes extend-width {
    from { width: 0; }
}


@keyframes blink {
    to { opacity: .0; }
}

@-webkit-keyframes blink {
    to { opacity: .0; }
}

@-moz-keyframes blink {
    to { opacity: .0; }
}

@-ms-keyframes blink {
    to { opacity: .0; }
}
          
/******** Keyframes End *********/


/********* Media Start *********/

@media all and (max-width: 414px)
{
    #authentication-popover
    {
        left: 0;
        width: calc(100%);
    }
    
    .navbar
    {
        height: ($navbarHeight * 1.1);
        
        .navbar-list-item
        {
            .navbar-list-item-accessory
            {
                width: 40px;
                height: 40px;
            }
            
            #authentication-navbar-list-item-button {
                background-size: 35px;
            }
            
            #menu-navbar-list-item-button {
                font-size: 35px;
            }
        }
    }
    
    .navbar-menu
    {
        .navbar-menu-list
        {
            .navbar-menu-item
            {
                height: 68px;
                
                a
                {
                    font-size: 20px;
                }
            
                .navbar-menu-item-image {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
    
    .title-content-container
    {
        .title-logo {
            height: 50px;
        }
    
        .title-header {
            font-size: 30px;
        }
    }
    
    .footer
    {
        .footer-item {
            font-size: 6px;
        }
    }
}

/********* Media End **********/