// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';


/********* Title Content Start *********/

#partners-title-header
{
    width: 460px;
    
    @include animation(extend-width, 1.5s, steps(15, end));
}

/********* Title Content End *********/

.partner-image
{
    margin: 0;
    padding: 40px;
    padding-bottom: 90px;
}

#apple-partner-image
{
    height: auto;
    width: 10%;
}

#microsoft-partner-image
{
    height: auto;
    width: 20%;
}

#airbnb-partner-image
{
    height: auto;
    width: 15%;
}

#twitter-partner-image
{
    height: auto;
    width: 20%;
}

#facebook-partner-image
{
    height: auto;
    width: 20%;
}

#dropbox-partner-image
{
    height: auto;
    width: 13%;
}

#expedia-partner-image
{
    height: auto;
    width: 20%;
}


/********* Media Start *********/

@media all and (max-width: 414px)
{
    #partners-title-header {
        width: 172.5px;
    }
}

/********* Media End **********/