// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';


#reviews-title-header
{
    width: 440px;
    
    @include animation(extend-width, 1.5s, steps(15, end));
}

#reviews-collection-cell
{
    padding: 0;
    width: 30%;
    margin: 20px;
    height: 300px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(135, 49, 207, 0.3);
}


/********* Media Start *********/

@media all and (max-width: 414px)
{
    #reviews-title-header {
        width: 152.5px;
    }
}

/********* Media End **********/