/* All Pages Start */

.container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(240, 240, 240);
}

.content-container
{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 0 66px 0;
    padding: 20px 0 20px 0;
    box-shadow: inset 0 0 50px rgb(210, 210, 210);
}

.title-content-container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: inset 0 -100px 250px -100px rgb(210, 210, 210);
}

.title-header
{
    color: black;
    font-size: 100px;
    font-weight: 333;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0 0 10px;
    animation: extend-width 3s steps(33, end);
}

.title-bar-span {
    animation: "blink" 1.3s infinite;
}

.collection
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.collection-cell
{
    margin: 10px;
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.collection-cell-header
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.collection-cell-header-title
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.collection-cell-body
{
    margin: 0;
    padding: 10px 0 20px 0;
    width: 100%;
}

.collection-cell-body-paragraph
{
    margin: 0;
    padding: 0;
}

.collection-cell-footer
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.collection-cell-link
{
    color: black;
    text-decoration: none;
}

.collection-cell-image-container
{
    margin: 0;
    padding: 0;
    width: 230px;
    height: 180px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 0px 2px gray;
}

.collection-cell-image
{
    margin: 0;
    padding: 0;
}

/* All Pages End */


/* All Pages Keyframes Start */

@keyframes extend-width
{
    from { width: 0; }
}

@keyframes "blink" {
    to { opacity: .0; }
}

/* All Pages Keyframes End */


/* Home Page Start */

#home-title-header {
    width: 1170px;
}

#login-collection-cell-link:hover {
    color: rgb(0, 194, 201);
}

#clients-collection-cell-link:hover {
    color: rgb(223, 35, 24);
}

#partners-collection-cell-link:hover {
    color: rgb(0, 117, 221);
}

#portfolio-collection-cell-link:hover {
    color: rgb(245, 104, 2);
}

#inquiry-collection-cell-link:hover {
    color: rgb(1, 170, 29);
}

#reviews-collection-cell-link:hover {
    color: rgb(135, 49, 207);
}

#shop-collection-cell-link:hover {
    color: rgb(238, 168, 0);
}

/* Home Page End */


/* Clients Page Start */

#clients-title-logo
{
    margin: 0;
    padding: 20px;
}

#clients-title-header
{
    width: 510px;
    animation: extend-width 1.5s steps(15, end);
}

/* Clients Page End */


/* Contact Page Start */

#contact-title-header
{
    width: 510px;
    animation: extend-width 1.5s steps(15, end);
}

/* Contact Page End */


/* Inquiry Page Start */

#inquiry-title-logo
{
    margin: 0;
    padding: 20px;
}

#inquiry-title-header
{
    width: 510px;
    animation: extend-width 1.5s steps(15, end);
}

/* Inquiry Page End */


/* Partners Page Start */

.partner-image
{
    margin: 0;
    padding: 100px;
}

#partners-title-logo
{
    margin: 0;
    padding: 20px;
}

#partners-title-header
{
    width: 570px;
    animation: extend-width 1.5s steps(15, end);
}

#apple-partner-image
{
    height: auto;
    width: 10%;
}

#microsoft-partner-image
{
    height: auto;
    width: 20%;
}

#airbnb-partner-image
{
    height: auto;
    width: 15%;
}

#twitter-partner-image
{
    height: auto;
    width: 20%;
}

#facebook-partner-image
{
    height: auto;
    width: 20%;
}

#dropbox-partner-image
{
    height: auto;
    width: 13%;
}

#expedia-partner-image
{
    height: auto;
    width: 20%;
}

/* Partners Page End */


/* Portfolio Page Start */

#portfolio-title-logo
{
    margin: 0;
    padding: 20px;
}

#portfolio-title-header
{
    width: 630px;
    animation: extend-width 1.5s steps(15, end);
}

#app-store-badge-image
{
    float: right;
    width: 300px;
    height: auto;
}

#just-bucket-collection-cell {
    width: 240px;
}

#just-bucket-image
{
    margin: 0;
    padding: 0;
    width: auto;
    height: 500px;
}

#just-bucket-collection-cell-body-paragraph {
    padding: 0 0 20px 0;
}

/* Portfolio Page End */


/* Reviews Page Start */

#reviews-title-logo
{
    margin: 0;
    padding: 20px;
}

#reviews-title-header
{
    width: 510px;
    animation: extend-width 1.5s steps(15, end);
}

/* Reviews Page End */


/* Shop Page Start */

#shop-title-logo
{
    margin: 0;
    padding: 20px;
}

#shop-title-header
{
    width: 330px;
    animation: extend-width 1.2s steps(15, end);
}

/* Shop Page End */