<h1>Right on! You found us, <%= @user.name %>!</h1>
      
<p>
   You have successfully signed up to http://motivated-creation.herokuapp.com,your username is: 
   <%= @user.login %>.
         
   Your password is...secret haha. No for real though. It's a secret.<br>
</p>
      
<p>
   To login to the site, just follow this link: 
   <%= @url %>.
</p>
      
<p>Thanks for joining and have a great day!</p>