<% flash.each do |type, messages| %>
    <div class="alert alert-<%= type %>">
        <div class="alert-header">
            <label class="alert-header-title">
                <% if flash[:error] or flash[:warning] %>
                    <%= pluralize(messages.count, type) %>
                <% else %>
                    <%= type %>
                <% end %>
            </label>
            <button class="alert-button-close" type="submit" onclick="closeAlert()">&times;</button>
        </div>
        <div class="alert-content">
            <ul>
                <% messages.each do |message| %>
            <li>
                <%= message %>
            </li>
                <% end %>
            </ul>
        </div>
        <div class="alert-footer">
        </div>
    </div>
<% end %>