<div class="modal" id="forgot-password-modal">
    <%= form_tag(forgot_password_path, remote: true) do %>
    <div class="modal-header">
        <label>Forgot Password</label>
        <button class="modal-button-close">&times;</button>
    </div>
    <div class="modal-content">
        <%= text_field_tag 'email', nil, id: 'email-input-text', placeholder: 'email' %>
    </div>
    <div class="modal-footer">
        <%= submit_tag 'Submit', name: 'signup', class: 'submit-button' %>
    </div>
    <% end %>
</div>